SUPABASE_URL = https:/$()/dqifnwmfivgquuejhwcn.supabase.co
SUPABASE_ANON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRxaWZud21maXZncXV1ZWpod2NuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI4NDQ1NDUsImV4cCI6MjA5ODQyMDU0NX0.CElm-vkSstACML9sl2_4But2fq2eXASh7mTMwPeUX7k
GOOGLE_CLIENT_ID = 422782037556-dentk7qi2icococq2rg4guir9n3koerp.apps.googleusercontent.com
